@model LMS.MVC.DATA.EF.Lesson

@{
    ViewBag.Title = "Details";
}
<body style="text-align:center">


    @if (User.IsInRole("HR"))
    {
        <h2>@Html.DisplayFor(model => model.LessonTitle) Details</h2>
    }
    else if (User.IsInRole("Employee"))
    {
        <h2>@Html.DisplayFor(model => model.LessonTitle)</h2>
    }

    <div>
        <hr />
        <dl>
            @if (User.IsInRole("HR"))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.LessonTitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LessonTitle)
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Introduction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Introduction)
            </dd>

            <dt>
                @Html.DisplayFor(model => model.VideoURL)
            </dt>

            <dd>
                <div id="player">

                </div>
            </dd>
            <dt>
                Lesson PDF
            </dt>

            <dd>
                <a href="@Url.Content("~/Content/LessonLinks/" + Html.DisplayFor(model => model.PdfFilename))" target="_blank">View @Html.DisplayFor(model => model.LessonTitle) information</a>
            </dd>
            @if (User.IsInRole("HR"))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Course.CourseName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course.CourseName)
                </dd>
            }

        </dl>
    </div>
    <p>
        @if (User.IsInRole("HR"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.LessonId }, new { @class = "btn btn-primary"})
            @Html.ActionLink("Back to Lessons", "Index", null, new { @class = "btn btn-primary" })
        }
        else if (User.IsInRole("Employee"))
        {
            <h3>@Html.ActionLink("Back to Lessons", "EmpLessons",new { id = Model.CourseId }, new { @class = "btn btn-primary"})</h3>
        }
    </p>
</body>
    <script src="http://youtube.com/player_api"></script>

    <script>
    var player;
    var h = '@ViewBag.height';
    var w = '@ViewBag.width';
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
            height: 360,
            width: 640,
            modestbranding: 1,
            videoId: '@ViewBag.VideoID',
            playerVars: {
                rel: 0,
                autoplay: 0,
                disablekb: 0,
                showsearch: 0,
                showinfo: 0,
                controls: 1,
                fs: 1,
                hd: 1,
                html5: 1,
                iv_load_policy: 3
            },
            events: {
                onReady: onPlayerReady,
                onStateChange: onPlayerStateChange
            }
        });
    }
    function onPlayerReady(event) {
        event.target.playerVideo();
    }

    function onPlayerStateChange(event) {
        if (event.data == 0) {
            alert('done');
        }
    }
    </script>
