@model IEnumerable<LMS.MVC.DATA.EF.Lesson>



<h2 style="text-align:center">@ViewBag.CurrentCourse</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LessonTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th>
            <p>Completed</p>
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.VideoURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PdfFilename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        //if (item.CompletedLesson != true)
        //{
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Introduction)
                </td>
                <td>
                    @if (item.CompletedLesson == true)
                    {
                        <p style="color:green">Completed</p>
                    }
                    else
                    {
                        <p style="color:red">Incomplete</p>
                    }
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.VideoURL)
                </td>*@
                @*<td>
                    <a href="@Url.Content("~/Content/LessonLinks/" + item.PdfFilename)" target="_blank">Click to View Document</a>
                    @Html.DisplayFor(modelItem => item.PdfFilename)
                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>*@
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.LessonId }) |*@
                    @Html.ActionLink("Start Learning", "Details", new { id = item.LessonId , cl = item.CompletedLesson})
                    @*@Html.ActionLink("Deactivate", "Delete", new { id = item.LessonId })*@
                </td>
            </tr>
        //}
    }

</table>
<h3 style="text-align:center">@Html.ActionLink("Back to Courses", "EmpView","Courses")</h3>
