@model IEnumerable<LMS.MVC.DATA.EF.Lesson>

@{
    ViewBag.Title = "Active Lessons";
}
<section style="text-align:center">
    <h2>@ViewBag.Title</h2>

    @if (User.IsInRole("HR"))
    {
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("View Inactive", "InactiveIndex", null, new { @class = "btn btn-primary" })
        </p>
    }
</section>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LessonTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th>
            <p>Lesson Video</p>
        </th>
        <th>
            <p>Lesson PDF</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LessonTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Introduction)
            </td>
            @if (item.VideoURL == null)
            {
                <td>
                    <p>N/A</p>
                </td>
            }
            else
            {
                <td>
                    <a href="@item.VideoURL">Lesson Video</a>
                </td>
            }
            @if (item.PdfFilename == null)
            {
                <td>
                    <p>N/A</p>
                </td>
            }
            else
            {
                <td>
                    <a href="@Url.Content("~/Content/LessonLinks/" + item.PdfFilename)" target="_blank">Click to View Document</a>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LessonId }) |
                @Html.ActionLink("Details", "Details", new { id = item.LessonId }) |
                @Html.ActionLink("Deactivate", "Delete", new { id = item.LessonId })
            </td>
        </tr>
    }

</table>

